doctype html
html
  head
    title Dexter's VLOG page
  body
    header
      section
        a
          img(src="http://i.imgur.com/u3lmGxb.png")
          p Dexter
        a About Dexter
        a Courses Teaching
        a Projects
        a More
    main
      h1 Welcome to my Vlog
      h2 Nerd City, USA

    p Front-End Development Accelerator currently in session
    iframe(src="https://www.youtube.com/embed/fNtDGQCvKgA" frameborder="0" allowfullscreen>)
    iframe(src="https://www.youtube.com/embed/9cMuV31bsbw" frameborder="0" allowfullscreen>)
  footer
    p &copy 2015 Dexter's Vlog
