doctype html
html
  head
    title Dexter's VLOG page
    link(rel="stylesheet", type="text/css", href="css/base.css")
  body
    header
      section
        a
          img(src="http://i.imgur.com/u3lmGxb.png")
        a About Dexter
        a Courses Teaching
        a Projects
        a More
    main
      h1 Welcome to my Vlog
      h2 Nerd City, USA
      article.container
        iframe(width="425", height="350", src="https://www.youtube.com/embed/fNtDGQCvKgA" )
      article.container
        iframe(width="425", height="350", src="https://www.youtube.com/embed/9cMuV31bsbw" )
  footer
    p &copy 2015 Dexter's Vlog
